[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[user]
	email = @email
	name = @name
	signingkey = @gpg_fingerprint
